.job-skill-list {
  width: 80vw;
  max-width: 1170px;
  margin: auto;
  display: grid;
  gap: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .job-skill-list {
    grid-template-columns: repeat(6, 1fr);
  }
} ;
